.login {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.PortadaTituloForm {
  display: block;
  width: 100%;
  color: #fffdfd;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 3.5rem;
  text-shadow: 2px 2px 10px #2b2929;
  font-family: "Bebas Neue", cursive;
}

.FormLogin {
  background-color: rgba(28, 29, 29, 0.61);
  text-shadow: 5px 5px 8px #000000;
  color: aliceblue;
  width: 45%;
  padding: 5%;
  border-radius: 2%;
}

.FormLogin .input {
  width: 100%;
  height: 45px;
  background-color: rgba(28, 29, 29, 0.61);
  margin: 0;
}

.FormLogin .input:focus {
  background-color: transparent;
  outline: none;
  color: #b4b2b2;
}

.FormLogin .button {
  width: 100%;
  font-weight: 600;
}

.FondoDeForm {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4%;
  background: var(--background-login-dark);
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 10px 10px 10px #000000;
  min-height: 95vh;
}


.btn-login {
  height: 9.5%;
  width: 100%;
  font-size: 1rem;
  border: 1px solid #000000a3;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 500;
}

.btn-login .logo-icon,
.btn-login i {
  margin-right: 0.8rem;
  height: 22px;
}

.btn-apple {
  background-color: #121212;
}

.btn-apple:hover {
  background-color: #1b1b1b;
}

@media (max-width: 780px) {
  .FondoDeForm {
    padding-top: 10%;
    min-height: 95vh;
  }

  .login {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .FormLogin {
    width: 100%;
    padding: 10%;
    border-radius: 2%;
  }
}
.blockEyeLogic{
 display: flex;
 width: 100%;
}
.blockEyeLogic svg{
  display: flex;
  width: 45px;
  height: 45px;
  border: white solid 1px;
  padding: 10px;
  border-radius:4px ;
  margin: 1px;
}
.blockEyeLogic .input{
  width: 100%;
}