.CardDiv {
    position: relative;
    margin: 5px 6%;
    display: flex;
    justify-content: center;
    color: rgb(211, 199, 199);
    font-family: var(--font-family-nunito);
    font-size: 18px;
    font-optical-sizing: auto;
}

.CardPublica {
    border-radius: 12px;
    background-color: rgba(12, 11, 11, 0.623);
    width: 700px;
    min-height: 180px;
    padding: 0px 15px;
    padding-bottom: 2%;
}
.datosTitular {
  background-color: rgba(37, 36, 36, 0.151);
  padding: 1% 3%;
  display: flex;
  align-items: center;
}
.commentForm {
    display: flex;
    align-items: center;
}
.commentForm .PublicacionFoto{
    padding: 0;
    margin: 0;
}
.commentForm input{
    cursor: pointer;
    background-color: rgba(31, 130, 217, 0);
    border: none;
}
.commentForm input:focus {
    background-color: transparent;
    outline: none; 
    color: #b4b2b2;
}
.CardPublica .addComment {
    cursor: pointer;
    font-size: 14px;
    color: #666666af;
    font-weight: 500;
    padding-top: 14px;
    padding-left: 2px;
}
.CardPublica .comment {
    display: flex;
    align-items: center;
    color: #b4b2b2;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}
.CardPublica .comment div{
    font-size: 14px;
    font-weight: 500;
}
@media (max-width: 780px) {
    .CardDiv {
        position: relative;
        margin: 3px 0%;
        display: flex;
        justify-content: center;
    }
    .CardPublica {
        border-radius: 0px;
        width: 700px;
        height: 100%;
        padding: 2% 0%;
    }
}