.optionsProjects{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.optionsProjects .inputSearch{
    height: 40px;
}

@media (max-width: 780px) {
    .optionsProjects{
        display: none;
    }
}