.ModalPublicacion {
  background: rgba(20, 20, 20, 0.74);
  border: solid 1px var(--border-img-dark);
  border-radius: 12px;
  margin: 1%;
  width: 700px;
}
input {
  margin: 1% 2%;
  color: rgb(122, 126, 126);
  background-color: rgba(240, 255, 255, 0);
  width: 96%;
  border: none;
}
textarea {
  color: rgb(122, 126, 126);
  background-color: rgba(240, 255, 255, 0);
  margin: 2%;
  border: none;
  width: 96%;
  height: 50px;
}
.PuclicarEmail {
  border-radius: 1rem;
  background-color: azure;
  width: 52%;
}
.PublicacionFoto {
  margin-right: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.PublicacionFotoPublicada {
  display: flex;
  justify-content: center;
}
.PublicacionFotoPublicada img {
  border: solid 1px var(--border-img-dark);
  margin-top: 20px;
  height: 400px;
  border-radius: 10px;
}
.PublicacionFotoImg {
  border-radius: 6px;
  height: 150px;
}
.ModalPublicacion input:focus {
  background-color: transparent;
  outline: none; 
  color: #b4b2b2;
}
.ModalPublicacion textarea:focus {
  background-color: transparent;
  outline: none; 
  color: #b4b2b2;
}
@media (max-width: 780px) {
  .PuclicarEmail {
    width: 90%;
  }
  .ModalPublicacion {
    margin: 2% 0%;
    border-radius: 0px;
  }
  .PublicacionFotoPublicada {
    padding: 0px 5px;
  }
  .PublicacionFotoPublicada img {
    height: 230px;
  }
}
