.NavbarTwo{
    background-color: rgba(15, 21, 27, 0.904)
}
.NavbarTitulo{
    color: rgb(124, 123, 116);
    font-size: 2rem;
    font-family: 'Zen Dots', cursive;
}
.NavbarButtonUser{
    right: 0;
}
@media (max-Width: 780px){
    .NavbarTitulo{
        color: rgb(124, 123, 116);
        font-size: 1rem;
        font-family: 'Zen Dots', cursive;
    }
}