.ModalPublicacion{
    width: 52%;
    border-radius: 10px;
    margin: 2% 0%;
}
input{
    margin: 1% 2%;
    color: rgb(30, 31, 31);
    background-color: azure;
    width: 96%;
    border: none;
}
textarea{
    color: rgb(30, 31, 31);
    background-color: azure;
    margin: 2%;
    border: none;
    width: 96%;
    height: 100px;
}
.PuclicarEmail {
    border-radius: 1rem;
    background-color: azure;
    width: 52%;
}
@media (max-width: 780px) {
    .PuclicarEmail {
      width: 90%;
    }
    .ModalPublicacion{
        width: 99%;
    }
}