/* src/components/Sidebar.css */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    padding: 20px 10px;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    border-right: 1px solid var(--border-img-dark);
    z-index: 1000;
}


.sidebar .nav-link {
    color: #c9d1d9 !important;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
    background-color: #21262d !important;
}
.navItemSelect{
    display: block;
}


@media (max-width: 780px) {
    .navItemSelect {
        display: none;
    }
    .sidebar {
        display: none;
    }
}