.landPageOrden {
  display: flex;
}
.titulo {
  color: rgb(20, 20, 20);
}
.perfil {
  margin: 2% 0%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.bodyLandPage {
  background: var(--background-color-dark);
  background-size: cover;
  background-attachment: fixed;
  color: rgb(10, 10, 10);
  min-height: 100vh;
}
.ColorDePerfil {
  background: var(--background-color-dark);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
.footerAuto {
  background-color: #007bff;
  color: rgb(26, 25, 24);
}
.foto {
  width: 12rem;
  border-radius: 50%;
}
.FotoDePerfil {
  display: flex;
  justify-content: center;
  align-self: center;
}
.NavbarBackground {
  background-color: rgba(245, 245, 247, 0.76);
}
.marginPublicacion {
  margin-top: 150px;
}
@media (max-width: 780px) {
  .landPageOrden {
    display: flex;
    flex-direction: column;
  }
  .foto {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }
  .FotoDePerfil {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .perfil {
    margin: 4% 0%;
    width: 100%;
    display: flex;
  }
  .footerDateResponsive {
    display: none;
  }
  .PuclicarEmail {
    width: 90%;
  }
}
