.landPageOrden {
  display: flex;
}
.titulo {
  font-family: monospace;
  font-size: 24px;
  color: rgb(20, 20, 20);
}
.perfil {
  margin: 2% 0%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.bodyLandPage {
  background: linear-gradient(rgba(168, 49, 197, 0.671),rgba(49, 138, 197, 0.808));
  background-size: 100%;
  background-repeat: unset;
  color: rgb(10, 10, 10);
  min-height: 100vh;
}
.ColorDePerfil {
  background: rgb(225, 226, 228);
  background-size: 100%;
  background-repeat: unset;
}
.footerAuto {
  background-color: #007bff;
  color: rgb(26, 25, 24);
}
.foto {
  width: 12rem;
  border-radius: 50%;
}
.FotoDePerfil {
  display: flex;
  justify-content: center;
  align-self: center;
}
.CardDiv {
  margin: 5px 6%;
  display: flex;
  justify-content: center;
  color: rgb(26, 25, 25);
}
.CardPublica {
  border-radius: 12px;
  background-color: rgba(216, 221, 221, 0.527);
  width: 700px;
  height: 180px;
}
.NavbarBackground {
  background-color: rgba(245, 245, 247, 0.76);
}
.login {
  margin: 4% 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.FormLogin {
  background-color: rgba(28, 29, 29, 0.897);
  color: aliceblue;
  width: 40%;
  padding: 3%;
  border-radius: 2%;
}
.descripcionPublicacion {
  font-family: 'Bebas Neue', cursive;
}
.FondoDeForm{
  padding: 4%;
  background: url(https://c.pxhere.com/images/48/88/55c3a539a0963d669052f753ec75-1446503.jpg!d);
  background-size: cover;
  background-repeat: no-repeat;
}
.PortadaTituloForm {
  display: block;
  width: 100%;
  color: #fffdfd;
  text-shadow: 2px 2px 10px #2b2929;
}
@media (max-width: 780px) {
  .FondoDeForm{
    padding-top: 10%;
    background: url(https://i.pinimg.com/originals/6a/e7/ba/6ae7ba42dfe0370d95f5e024ab9db8e7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  .bodyLandPage {
    background: linear-gradient(rgba(168, 49, 197, 0.671),rgba(49, 138, 197, 0.808));
    color: rgb(10, 10, 10);
    min-height: 100vh;
  }
  .ColorDePerfil {
    background: rgb(225, 226, 228);
  }
  .landPageOrden {
    display: flex;
    flex-direction: column;
  }
  .foto {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }
  .FotoDePerfil {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .perfil {
    margin: 4% 0%;
    width: 100%;
    display: flex;
  }
  .CardPublica {
    width: 700px;
    height: 240px;
  }
  .footerDateResponsive {
    display: none;
  }
  .login {
    margin: 4% 0px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .FormLogin {
    width: 90%;
    padding: 3%;
    border-radius: 2%;
  }
  .PuclicarEmail {
    width: 90%;
  }
}
